.Content {
  width: 100%;
  padding: 0 30px;
  height: 100vh;
  overflow-y: scroll;
}

.Content::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 912px) {
  .Content {
    position: absolute;
    right: 30%;
    width: 45%;
  }
}
