.Header {
  /* border: 2px solid red; */
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 1;
}

.Header__up {
  width: 100%;
  display: flex;
  transition: all 0.25s;
}

.notVisible {
  position: absolute;
  transform: translateY(-61px);
}

.Header ul {
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header__item {
  list-style: none;
}

.Header__icon {
  width: 25px;
  height: 25px;
  color: crimson;
  cursor: pointer;
}

.Header__down {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 10px;
}

.Header__down--profile {
  width: 35px;
  height: 35px;
  border: 1px dashed;
  border-radius: 100%;
  cursor: pointer;
  color: rgb(70, 14, 14);
}

.Header__down input {
  padding: 0 0 0 10px;
  width: 80%;
  height: 28px;
  border: 0;
  background-color: #eaeff1;
  border-radius: 24px;
  outline: none;
}

@media screen and (min-width: 912px) {
  .Header {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
  }

  .notVisible {
    /* position: absolute; */
    transform: translateY(-61px);
  }
}
